@{
    ViewData["Title"] = "Home Page";
}

<div class="profileblock">
    <h1 class="display-4">Welcome</h1>
    <p>PROG8176-23F-Sec1-Multi-tier Software Development</p>
    <p>Building Web apps with ASP.NET Core</p>
</div>